@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

:root{
    --background-blue: rgb(3, 43, 80);
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, p{
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

.main .main__subtitle{
    text-align: center;
    padding: 50px 0 30px;
}

.main .main__cards{
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 2px solid; */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 20px;
}

.main__card , .main__card-genre, .main__card-layer {border-radius: 10px;}

.main__cards .main__card{
    width: 300px;
    background-color: #A69F07;
    display: inline-block;
    position: relative;
    cursor: pointer;
    justify-self: center;
}

.main__card-genre, 
.main__card-layer{ 
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center; 
}

.main__card .main__card-genre{
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
}

.main__card .main__card-layer{
    position: absolute;
    top: 0;
    justify-content: space-between;
    --background-blue: rgba(3, 43, 80, 0.705);
    background-color: var(--background-blue);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .1s;
}

.main__card .main__card-layer img{  width: 40px; transition: transform .4s; }

.main__card .main__card-layer p { transition: transform .4s;}

.main__cards .main__card:hover .main__card-layer{
    opacity: 1;
    visibility: visible;
}

.main__cards .main__card:hover img{
    transform: translateX(60px);
}
.main__cards .main__card:hover p{
    transform: translateX(-50px);
}



