@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

:root{
    --background-blue: rgb(3, 43, 80);
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, p, figure{
    margin: 0;
}

.main__container{
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 25px;
}

.main .main__genre-title{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}

.main__container-card{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: steelblue;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.233);
    cursor: pointer;
    transition: box-shadow .3s ease;
    justify-self: center;
    overflow: hidden;
}

.main__container-card:hover{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}

.main__container-card-picture,
.main__container-card-letters{ width: 100%}

.main__container-card-picture{
    background-color: antiquewhite;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main__container-card-picture img{ 
    width: 102%; 
    height: 102%; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    transition: height .4s ease, width .4s ease;
}

.main__container-card:hover .main__container-card-picture img{
    height: 100%;
    width: 100%;
}

.main__container-card-letters{
    background-color: #fff;
    height: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0 0 10px;
}

.main__container-card-letters .title{ font-size: 17px; padding: 2px 6px 0 0 ; transition: font-size .5s ease;}

.main__container-card:hover .title{ font-size: 18px }

.main__container-card-letters .date{ font-weight: 400; font-size: 18px;}

.main__container-btn{
    text-align: center;
    height: 50px;
    position: fixed;
    top: 50%;
    width: 100%;
}

.main__container-btn .main__btn{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    padding: 0 10px;
}

.main__btn-A, .main__btn-S{
    background: none;
    border: none;
    width: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__btn-A{ background-image: url('../img/icons/left-arraw.svg'); }
.main__btn-S{ background-image: url('../img/icons/right-arraw.svg'); }



.footer, .footer__container{ display: flex; align-items: center; }

.footer{
    width: 100%;
    height: 200px;
    background-color: var(--background-blue);
    color: #fff;
    margin-top: 50px;
}

.footer__container{
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer__container-title{ text-align: center; }

.footer__container-title h1{ font-size: 60px;}
.footer__container-title h4{ font-size: 25px; font-weight: 400; }

.footer__container p{ font-size: 25px; }

@media (max-width: 1565px){
    .main__container .main__container-card{ width: 190px; height: 320px;}

    .main__container-card-letters .title{font-size: 13px;}

    .main__container-card:hover .title{ font-size: 14px }

    .main__container-card-letters .date{ font-size: 12px;}
}

@media (max-width: 1230px){
    .main .main__container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media (max-width: 1000px){

    .main .main__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .footer__container-title h1{ font-size: 60px;}
    
    .footer__container-title h4{ font-size: 25px;}

    .footer__container p{ font-size: 15px; margin-left: 30px;}
}

@media (max-width: 868px){

    .main .main__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .main__container .main__container-card{ width: 220px; }
}

@media (max-width: 600px){
    
    .main .main__container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(20, 1fr);
    }

    .main__container-card-picture{ height: 62%;}

    .main__container-card-letters{ height: 38%;}


    .footer__container-title h1{ font-size: 30px;}
    
    .footer__container-title h4{ font-size: 15px;}
}
